git+https://github.com/PyCQA/pycodestyle.git
git+https://github.com/python/mypy.git
git+https://github.com/codecov/codecov-python.git

git+https://github.com/pytest-dev/pytest.git
git+https://github.com/henry0312/pytest-codestyle.git
git+https://github.com/pytest-dev/pytest-cov.git
git+https://github.com/dbader/pytest-mypy.git
git+https://github.com/pytest-dev/pytest-runner.git
